
/*随机图片展示主体*/
.zc-card-Display-Img {
  width: 70vw;
  height: 60vw;
}

/*刷新按钮*/
.refresh {
  position: relative;
  overflow: hidden;
  height: 2rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: rgba(0, 0, 0, 0.4);
  background-size: 400%;
  color: #fff;
  border: none;
  line-height: 2rem;
}

.refresh:hover::before {
  transform: scaleX(1);
}

.refresh-content {
  position: relative;
  z-index: 1;
}

.refresh::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;    
  background: linear-gradient(to right, rgb(17, 153, 142), rgb(56, 239, 125)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */             transition: all 0.475s;
}
/* 按下时的效果反馈 */
.refresh:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
/*下载按钮*/

.download {
  position: relative;
  overflow: hidden;
  height: 2rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: rgba(0, 0, 0, 0.4);
  background-size: 400%;
  color: #fff;
  border: none;
  margin-left: auto;
  line-height: 2rem;
}

.download:hover::before {
  transform: scaleX(1);
}

.download-content {
  position: relative;
  z-index: 1;
}

.download::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
/* 按下时的效果反馈 */
.download:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

