/*左边侧边栏颜色拓展*/
.rin-btn-purple {
  border-bottom: 1.5px solid #ee82ee;
}

.rin-btn-purple:hover {
  background-color: #ee82ee;
  transition: all 0.3s;
}

/*补充圆角*/
.rin-btn-radius {
  border-radius: 20px;
}

/*页面开头信息展示框*/
.article-info {
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  border: 1px #fff dashed;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(3px); /*毛玻璃效果*/
}
.zc-card-article {
  border-radius: 10px;
  backdrop-filter: blur(5px); /*毛玻璃效果*/
  border: 3px solid rgba(0, 0, 0, 0.08);
}
